@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

/* ----------------- General -----------------*/
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /*line-height: 2em;*/
  letter-spacing: 0.04em;
  background-color: rgb(254, 254, 250);
}

body {
  margin: 0px;
}

a {
	cursor: pointer;
}

main {
  margin: 1em;
}

/* ----------------- Head -----------------*/
.header {
  width: 100%;
  background-color: rgb(38, 38, 38);
  color: rgb(254, 254, 250);
  height: 8em;
}

h1 {
  margin: 0%;
  padding: 1em;
  padding-top: 1.3em;
  padding-left: 0.5em;

  display: inline-block;
  font-weight: 300;
  font-size: 300%;

}

.navbar {
  font-size: large;
  float: right;
  padding: 1em;
  padding-top: 4em;
}

.navbar li {
  float: left;
  overflow: visible;
  text-decoration: none;
  list-style-type: none;
  height: 100%;
}

.navbar li a {
  color: rgb(254, 254, 250);
  text-align: center;
  width: fit-content;
  padding: 1em;

}

.navbar li a:hover {
  background-color: rgb(254, 254, 250);
  color: rgb(38, 38, 38);
}

/* ----------------- Mediaboxen -----------------*/

.MediaBox {
  position: relative;
  display: block;

  height: auto;
  width: 40%;
  padding: 0em;

  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  border: 0em;

  text-align: left;
  background-color: rgb(0, 84, 133);
  color: rgb(254, 254, 250);
}

.img {
  padding: 0em;
  margin: 0em;
  height: auto;
  width: 100%;
  max-width: 100%;
  object-fit: scale-down;
}

.TextBox {
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

/*Hover-Effect auf Image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: rgb(240, 240, 240);
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: rgba(33, 34, 38, 1);
  opacity: 1;
  font-size: 1.5em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*Ende Hover*/




/* ----------------- Footer -----------------*/

.wrapper {
	top: 0em;
	left: 0em;
	padding: 1em;
	margin: 0em;
	width: 100%;
	height: auto;
	z-index: 20;
	background-color: #4682B4;
}
	
footer {
	width: 100%;
	display: flex;
	margin: auto;
	height: auto;
	padding: 0em;
	z-index: 40;
}

.footerspalte li {
	color: white;
}

footer div {
	float: left;
	width: 100%;
	margin: 0em;
	margin-left: 0em;
}

footer ul {
	list-style-type: none;
	margin-left: -2.4em;
}